<table class="table">
	<thead class="thead thead-default">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Created at</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= time_ago_in_words user.created_at %></td>
				<th><button class="btn btn-primary">Add Friend</button></th>
			</tr>
		<% end %>
	</tbody>
</table>