// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
	margin-bottom: 15px;
	input{
		color: #000;
	}
}

.row{
	img {
		max-width: 100%;
	}
}